
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.container {
    height: 100vh
}

.card {
    width: 400px;
    border: none
}

.form-control {
    border: 2px solid #bdc1d2;
    font-size: 13px;
    height: 48px
}
.continue {
    height: 48px;
    font-size: 13px;
    background-color: #e91e63;
    border: none
}
